body {
	font-family: Tahoma, Arial, sans-serif;
	color: #272c2f;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
}

.container {
	width: 940px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6em;
    margin-bottom: 1.5em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.45em;
}
h1 {
	font-size: 27px;
	font-weight: bold;
	
}
h2 {
	font-size: 26px;
	text-align: center;
	color: #0e1b3e;
}
h3 {
	font-size: 22px
	font-weight: bold;
}

a, a:hover, a:active {
	text-decoration: none;
}

a {
	transition: all 0.5s ease;
}

.button {
	display: block;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	width: 222px;
	padding: 17px 0 19px;
	border-radius: 100px;
	text-align: center;
	letter-spacing: 0.12em;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.header {
	background: rgba(74,125,252,1);
	background: -moz-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(18,73,211,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,125,252,1)), color-stop(100%, rgba(18,73,211,1)));
	background: -webkit-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(18,73,211,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(18,73,211,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(18,73,211,1) 100%);
	background: linear-gradient(135deg, rgba(74,125,252,1) 0%, rgba(18,73,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7dfc', endColorstr='#1249d3', GradientType=1 );
	color: #fff;
	padding: 70px 0 60px;
}
.block { 
	text-align: center;

}
.block__logo {
	margin-bottom: 163px;

}
.block__title {
	text-align: center;
	width: 590px;
	margin-bottom: 20px;
	margin-left: 177px;
}
.block__btn{
	margin: 0px 0 169px 362px;
}
.trust {
	box-shadow: 0 -45px 60px rgba(0, 0, 0, 0.1607843137254902);
	padding: 106px 0 87px;
}
.trust__title {
	margin-bottom: 73px;
}
.wrapper {
}

.wrapper__item {
	width: 465px;
}
.wrapper__cad {
  width: 400px;
}

.wrapper__title {
	font-size: 22px;
	font-weight: bold;
	color: #0e1b3e;
}
.wrapper__title:after {
	content: '';
	display: block;
	background: #2d63eb;
	margin-top: 22px;
	margin-bottom: 34px;
	width: 72px;
	height: 3px;
	border-radius: 3px;
}
.wrapper__text {
	color: #606060;
}


.wrapper__text a:hover {
	text-decoration: none;
}
.wrapper__text span {
	color: #4571ec;
}
.reasons {
	margin-top: 40px;
}

.reasons__item {
}

.reasons__icon {
	width: 52px;
    height: 52px;
    border-radius: 10px;
	margin-bottom: 26px;
	margin-right: 23px;
}

.reasons__icon_bug {
	background: #2d63eb url(../img/bug.png) no-repeat center center;
}

.reasons__icon_bell {
	background: #2d63eb url(../img/bell.png) no-repeat center center;
}

.reasons__icon_storm {
	background: #2d63eb url(../img/storm.png) no-repeat center center;
}
.reasons__icon_camera {
	background: #2d63eb url(../img/camera.png) no-repeat center center;
}

.reasons__title {
	text-transform: none;
	color: #2d63eb;
	margin-top: -2px;
	padding-bottom: 3px;
}

.reasons__text {
	color: #b0b2b3;
	margin-bottom: 0;
}
.unit {
	padding-bottom: 118px;
}
.unit__title {
	margin-bottom: 65px;
}
.numbers {
	text-align: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;

}
.numbers__item {
		
}
.numbers__btn {
	display: block;
	border: 1px solid #ffab18;
	color: #ffab18;
	font-weight: normal;
	font-size: 30px;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	text-align: center;
	padding-top: 16px;
	margin-left: 61px;
	margin-bottom: 14px;
}
.numbers__btn:hover {
	background: #ff7300;
	color: #fff;
}

.numbers__btn:active {
	box-shadow: 0 0 20px rgba(0,0,0,0.3) inset;
}
.numbers__text {
	font-size: 16px;
	font-weight: bold;
	margin:0;
	
}
.last {
	background: #e6e9f1;
	padding: 106px 0 114px;
}
.help__title {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 18px;
}
.help__text {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 25px;
	margin-left: 264px;
	width: 415px;
	text-align: center;
	

}
.help__btn {
	color: #fff;
	background: #2d63eb;
	margin-left: 359px;
}
.footer {
	background: #06319e;
	padding: 48px 0 48px;
}
.credits {
	text-align: center;
}
.credits__text {
	font-size: 13px;
	color: #fff;
}
.credits__text:hover {
	font-size: 13px;
	color: #fff;
	opacity: 0.5;
  	filter: alpha(opacity=50);
}

